//Common attributes
$font-family:'Roboto',
sans-serif;
$secondary: #fff;
$primary: #ff887b;
$font-size: 18px;
$width:1200px;
$text-white: #ffffff;
$text-light: #9a9a9a;
$text-dark: #383838;
html {
    font-size: $font-size;
}