/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn, .main-section .main-container .start-btn, .learn-more-btn {
  background: transparent;
  border-radius: 0.4em;
  padding: 1em 3em;
  text-transform: uppercase;
  border: 1px solid #808080;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font: 1.2rem;
}

.header {
  background-color: #F28F85;
  position: absolute;
  width: 100%;
}

.header .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav-item {
  margin-left: 1.5em;
}

.header .nav .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .logo-main {
  font-size: 1.25rem;
  padding-right: 1em;
}

.header .nav .pixelarity-span {
  padding-left: 0.75rem;
}

.header .nav .line {
  display: inline-block;
  opacity: 0.75;
  height: 1.5rem;
  border-left: 1px solid #fff;
}

.header .nav .fa-chevron-down {
  font-size: 0.75rem;
}

.header a {
  color: #fff;
  font-weight: 300;
  font-size: 0.9rem;
}

@media all and (max-width: 545px) {
  .nav-menu {
    display: none;
  }
}

.main-section {
  background-image: url("../media/pic01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7em 0 5em;
  border-top: 10px solid #F28F85;
}

.main-section .main-container {
  color: #fff;
  max-width: 645px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .main-container h1 {
  letter-spacing: 2px;
  margin-top: 1em;
  font-weight: 300;
  font-size: 2.5rem;
}

@media all and (max-width: 545px) {
  .main-section .main-container h1 {
    font-size: 1.5rem;
  }
}

.main-section .main-container .main-laptop {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .main-container .main-laptop .fa-laptop {
  color: #F28F85;
  display: inline-block;
  font-size: 2rem;
}

.main-section .main-container .white-line {
  border-bottom: 1px solid #fff;
  opacity: 0.6;
  padding: 1em 0;
  width: 100%;
  margin-bottom: 2.8em;
}

.main-section .main-container .start-btn {
  border: 1px solid #fff;
  color: #fff;
}

.primary-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
  color: grey;
}

@media all and (max-width: 545px) {
  .primary-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.primary-container .primary-left {
  width: 30%;
}

@media all and (max-width: 545px) {
  .primary-container .primary-left {
    width: 100%;
  }
}

.primary-container .primary-right {
  width: 60%;
}

@media all and (max-width: 545px) {
  .primary-container .primary-right {
    width: 100%;
  }
}

.primary-container .primary-image-div {
  border-radius: 0.5em;
}

.primary-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25em;
}

.primary-container h2 {
  margin-bottom: 2em;
  margin-top: 1.25em;
}

@media all and (max-width: 545px) {
  .primary-container h2 {
    padding: 1.5rem;
  }
}

.primary-container .primary-right-data-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.primary-container .primary-right-data-container .data {
  width: 50%;
  padding: 1.25em;
  font-size: 0.9rem;
}

.primary-container .primary-right-data-container h3,
.primary-container .primary-right-data-container .data-icon {
  color: #F28F85;
}

.primary-container .primary-right-data-container .data-icon {
  font-size: 1.25rem;
}

.primary-container .primary-right-data-container .data-one {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

@media all and (max-width: 545px) {
  .primary-container .primary-right-data-container .data-one {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
  }
}

.primary-container .primary-right-data-container .data-two {
  border-bottom: 1px solid grey;
}

@media all and (max-width: 545px) {
  .primary-container .primary-right-data-container .data-two {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
  }
}

.primary-container .primary-right-data-container .data-three {
  border-right: 1px solid grey;
}

@media all and (max-width: 545px) {
  .primary-container .primary-right-data-container .data-three {
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
  }
}

@media all and (max-width: 545px) {
  .primary-container .primary-right-data-container .data-four {
    width: 100%;
    border-right: none;
  }
}

.primary-container .primary-right-data-container .data-icon {
  margin-right: 1em;
}

.secondary-section {
  background: #F28F85;
  color: #fff;
  text-align: center;
  padding: 5em 0;
}

.secondary-section .secondary-container {
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (max-width: 545px) {
  .secondary-section .secondary-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.secondary-section .secondary-container .secondary-data {
  width: 25%;
  padding: 0 1.5em;
}

@media all and (max-width: 545px) {
  .secondary-section .secondary-container .secondary-data {
    width: 100%;
  }
}

.secondary-section .secondary-container .secondary-data-1,
.secondary-section .secondary-container .secondary-data-2,
.secondary-section .secondary-container .secondary-data-3 {
  border-right: 1px solid #e6e5e5;
}

.secondary-section .secondary-container .secondary-data-num,
.secondary-section .secondary-container .secondary-data-title {
  font-weight: 300;
}

.secondary-section .secondary-container .secondary-data-num {
  font-size: 3rem;
}

.secondary-section .secondary-container .secondary-data-title {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.secondary-section .secondary-container .secondary-data-content {
  font-size: 0.8rem;
  font-weight: 300;
}

.section-three {
  max-width: 1200px;
  margin: 0 auto;
}

.section-three h3 {
  color: #F28F85;
  padding: 3rem 0 3rem;
}

@media all and (max-width: 545px) {
  .section-three h3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
  }
}

.section-three .section-three-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-three .section-three-left {
  width: 40%;
}

@media all and (max-width: 545px) {
  .section-three .section-three-left {
    width: 100%;
    margin: 0 2rem 0 2rem;
    text-align: center;
  }
}

.section-three .section-three-left .sec-3-sub-header {
  color: #383838;
  font-size: 1.5rem;
}

.section-three .section-three-left .sec-3-text {
  color: #9a9a9a;
  padding: 2rem 0 2rem;
}

.section-three .section-three-right {
  width: 40%;
}

@media all and (max-width: 545px) {
  .section-three .section-three-right {
    width: 100%;
  }
}

.section-three .section-three-right img {
  border-radius: .5rem;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.section-four {
  margin: 5rem 0 5rem;
}

.section-four .section-four-left {
  padding-top: 5rem;
  height: 450px;
  width: 50%;
  background: url(../media/pic03.jpg);
  background-position: center center;
  text-align: center;
}

@media all and (max-width: 545px) {
  .section-four .section-four-left {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-four .section-four-left .quote {
  background-color: #F28F85;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding-top: 1.4rem;
}

.section-four .section-four-left .quote-text-left {
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
}

.section-four .section-four-left h3 {
  color: #F28F85;
  font-size: 1.2rem;
}

.section-four .section-four-left p {
  color: #9a9a9a;
}

.section-four .section-four-right {
  padding-top: 5rem;
  height: 450px;
  width: 50%;
  background: url(../media/pic04.jpg);
  background-position: center center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 545px) {
  .section-four .section-four-right {
    width: 100%;
  }
}

.section-four .section-four-right .quote {
  background-color: #F28F85;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  display: block;
  color: #fff;
  margin: 0 auto;
  padding-top: 1.4rem;
}

.section-four .section-four-right .quote-text-right {
  margin: 30px;
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
}

.section-four .section-four-right h3 {
  color: #F28F85;
  font-size: 1.2rem;
}

.section-four .section-four-right p {
  color: #9a9a9a;
}

.fifth-section {
  margin: 5rem;
  font-weight: 350;
}

.fifth-section .fifth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 545px) {
  .fifth-section {
    margin: 1rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h2 {
  margin-bottom: 1.5em;
}

@media all and (max-width: 545px) {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
  }
}

.fifth-left,
.fifth-right {
  width: 48%;
}

@media all and (max-width: 545px) {
  .fifth-left,
  .fifth-right {
    width: 100%;
  }
}

.fifth-image {
  border-radius: 1em;
  width: 100%;
}

.fifth-text {
  margin: 1em 0;
}

.learn-more-btn {
  border: 1px solid black;
}

.fifth-right .progress-line-holder {
  position: relative;
  margin-top: 1.25em;
}

.fifth-right .black-line,
.fifth-right .red-line {
  border-top: 1px solid black;
  position: absolute;
  width: 100%;
}

.fifth-right .red-line {
  border-top: 1px solid orangered;
  width: 60%;
}

.fifth-right .progress-percent {
  padding-top: 0.25rem;
  font-size: 0.85rem;
}

.fifth-right .progress-30 {
  width: 30%;
}

.fifth-right .progress-70 {
  width: 70%;
}

.fifth-right .progress-40 {
  width: 40%;
}

.fifth-right .progress-50 {
  width: 50%;
}

.fifth-right .progress-60 {
  width: 60%;
}

.fifth-right .progress {
  margin: 1.25em 0;
}

.contact {
  background-color: #F28F85;
  color: #fff;
}

.contact .contact-container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 3rem;
}

@media all and (max-width: 545px) {
  .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .footer {
  text-align: center;
  border-top: #fff solid 1px;
  padding: 2rem 0 2rem;
  font-size: 0.8rem;
}

.contact .contact-left {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 30%;
}

@media all and (max-width: 545px) {
  .contact .contact-left {
    width: 100%;
  }
}

.contact .contact-left .contact-content {
  padding: 1rem 0 1rem;
  display: inline-block;
}

.contact .contact-left .contact-icon {
  display: inline-block;
}

.contact .contact-left .sm-menu-icons {
  padding-top: 3rem;
}

.contact .contact-left .sm-menu-icons .fab {
  color: #fff;
}

.contact .contact-left .sm-menu-icons .sm-icons {
  width: 2rem;
  border: 1px solid #fff;
  padding-left: .5rem;
  border-radius: 5px;
}

.contact .contact-right {
  width: 60%;
  padding-top: 5rem;
  text-align: left;
}

@media all and (max-width: 545px) {
  .contact .contact-right {
    width: 100%;
    padding: 0;
  }
}

.contact .contact-right h2 {
  padding-left: 4.3rem;
}

@media all and (max-width: 545px) {
  .contact .contact-right h2 {
    padding: 0;
    text-align: center;
  }
}

.contact .contact-right .btn-send {
  background: transparent;
  border-radius: 0.4em;
  padding: 1em 3em;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  margin: 1rem;
}

.contact .contact-right .name,
.contact .contact-right .email {
  background-color: #F28F85;
  border: 1px solid #fff;
  width: 50%;
  margin: 1rem;
  margin-right: 0;
  border-radius: 0.5rem;
  height: 2rem;
  color: #fff;
}

@media all and (max-width: 545px) {
  .contact .contact-right .name,
  .contact .contact-right .email {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.contact .contact-right .contact-message {
  background-color: #F28F85;
  border: 1px solid #fff;
  width: 100%;
  margin: 1rem;
  border-radius: 0.5rem;
}

@media all and (max-width: 545px) {
  .contact .contact-right .contact-message {
    margin-right: 0;
    margin-left: 0;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background: #fff;
  position: absolute;
  display: none;
}

.dropdown-menu a {
  color: #F28F85;
}

.dropdown-menu li {
  padding: 0.25em 1em;
}

.contact-inputs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */